<div id="div_main">
  <div id="div_header">
    <img class="logo" src="../logo.png"/>
    <span class="title">On My Shelf</span>
    <span><a class="gr_logo" href="http://www.goodreads.com"> <img src="../gr_logo.jpg"/></a></span>
  </div>
  <div id="div_content">
    <div id="div_render_viewport">
      <canvas id="canvas_render_viewport"></canvas>
    </div>
    <div id="div_books">
      <div id="div_shelves_selector">
        <select id="select_shelves" onchange="getShelf(this.value);">
        <% session[:user_shelves].each_pair do |k, v| %>
            <option value="<%= k %>"><%= v.shelf_name %></option>
        <% end %>
        </select>
      </div>

      <div id="div_books_table">
      </div>
    </div>
  </div>
</div>

<script>

    $('#div_books_table .book_entry').click(function (event) {
        //alert($(this).attr('id')); //trying to alert id of the clicked row
        clearHighlight();
        highlightBook($(this).attr('id'));
    });

    $(document).ready(function () {

        env3d_init("canvas_render_viewport");
        $("#canvas_render_viewport").visibility = "hidden";

        loadEnvironmentModel("../environment.dae", function () {
            loadBookcaseTemplate("../bookcase.dae", function () {
                //placeOnBookcases(books_entries);

                getShelf(0);
            })
        })
    });

</script>
