<div id="div_main">
  <div id="div_header">
    <img class="logo" src="../logo.png"/>
    <span class="title">On My Shelf</span>
    <span><a class="gr_logo" href="http://www.goodreads.com"> <img src="../gr_logo.jpg"/></a></span>
  </div>
  <div id="div_content">
    <div id="div_render_viewport">
      <canvas id="canvas_render_viewport"></canvas>
    </div>
    <div id="div_books">
      <div id="div_shelves_selector">
          <img onclick="prevShelf();" id="img_prev_shelf" src="/left_grey.png"/>
          <span id="span_shelves_selector_name"></span>
          <img onclick="nextShelf();" id="img_next_shelf" src="/right_grey.png"/>
      </div>
      <div id="div_books_table">
      </div>
    </div>
  </div>
</div>

<script>
    shelvesEntries =
            [
             <% i = 0; session[:user_shelves].each_pair do |k, v| %>
                {id:<%= k %>, name:"<%= v.name %>", book_count:"<%= v.book_count %>"}
                <%= (i == session[:user_shelves].size-1)? "":"," %>
             <% i = i + 1; end %>
            ];

    $('#div_books_table .book_entry').click(function (event) {
        clearHighlight();
        highlightBook($(this).attr('id'));
    });

    $(document).ready(function () {

        if (!Detector.webgl)
        {
            $("#div_render_viewport").remove();
            $("#div_shelves_selector").remove();
            Detector.addGetWebGLMessage({parent: document.getElementById("div_content")});
            return;
        }

        env3d_init("canvas_render_viewport");
        $("#canvas_render_viewport").visibility = "hidden";

        loadEnvironmentModel("../environment.dae", function () {
            loadBookcaseTemplate("../bookcase.dae", function () {
                //find owned books shelf
                for (var i = 0; i < shelvesEntries.length; i++)
                {
                    if (shelvesEntries[i].id == 0)
                    {
                        changeShelf(i);
                        break;
                    }
                }
            })
        })
    });

</script>
