#div_main
{
    width:950px;
    height:600px;
    text-align: center;
}

#div_books_table
{
    width:400px;
    height:600px;
    float:left;
    background-color: #5ab163;
    color: #000000;
    font: message-box ;

    border: #000000;
}

#div_rendering_canvas
{
    width:550px;
    height:600px;
    float:left;
}

.title
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}