body
{
   /*ackground-color: #cfabbd;*/
    /*background-color: #3b3030;*/
    background-color: #FFFFFF;

}

#div_header
{
    width: 100%;
    height: 8%;
    /*background-color: #AAAAAA;*/
    background-color:#FFFFFF;
    padding:10px;
    margin-bottom: 5px;
    border: 0px;
    border-bottom: 2px;

    border-style: solid;
}

#div_header .title
{
    color: #000000;
    font-style: oblique;
    font-size: 28px;
    padding:10px;
    float:left;
}

#div_header .logo
{
    height: 100%;
    float: left;
    padding:0px;
    margin:0px;
}

#div_header .gr_logo
{
    height: 100%;
    float: right;
    padding:3px;
}

#div_content
{
    width: 100%;
    height: 95%;

}

#div_main
{
    width:1200px;
    height:600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#img_prev_shelf
{
    float: left;
}

#img_next_shelf
{
    float: right;
}

#span_shelves_selector_name
{
    font-weight: bold;
    font-size: 24px;
}

#div_books
{
    width:  33%;
    height: 100%;
    float: left;
}

#div_shelves_selector
{
    width:100%;
    height:10%;
    /*background-color: #AAAAAA; */
    background-color: #FFFFFF;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    text-align: center;
}

#div_render_viewport
{
    position:relative;
    width:65%;
    height:100%;
    float: right;
    border-width: 2px;
    border-style: solid;
}

#canvas_render_viewport
{
    width:100%;
    height:100%;
    /*
    float: right;
    border-width: 2px;
    border-style: solid;*/
}

#button_unZoom
{
    position:absolute;
    top:10px;
    left: 10px;
    z-index:1;
}

.title
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}

