body
{
    background-color: #cfabbd;

}

#div_main
{
    /*width:1000px;*/
    /*height:600px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#div_books_table
{
    width:400px;
    height:400px;
    position: absolute;
    top: 20px;
    right:20px;
    background-color: #53bd48;
    color: #000000;
    font: message-box;

    border: #000000;
    border-width: 2px;
    border-style: solid;
    overflow: auto;
}

#div_rendering_canvas
{
    width:100%;
    height:100%;
}

.title
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}